<table class="table table-striped table-bordered mt-2" >
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Employee Code</th>
      <th scope="col">Employee Name</th>
      <th scope="col">Birth Date</th>
      <th scope="col">Birth City</th>
      <th scope="col">Employee Id</th>
      <th scope="col">Department</th>
      <th scope="col">Job Title</th>
      <th scope="col">Direct Manager</th>
      <th scope="col">Contract Type</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody *ngFor="let data of inputId" >
    <tr >
      <td >
        <i class="fa fa-table " aria-hidden="true" style="color:darkblue"></i>
      </td>
      <td >
        <i class="fa fa-pencil p-2" aria-hidden="true" style="color: blue;"></i>
        </td>
      
        <td>{{data.employeeCode}}</td>
        <td>{{data.employeeName}}</td>
        <td>{{data.birthDate}}</td>
        <td>{{data.birthCity}}</td>
        <td>{{data.employeeId}}</td>
        <td>{{data.department}}</td>
        <td>{{data.jobTitle}}</td>
        <td>{{data.directManager}}</td>
        <td>{{data.contractType}}</td>
      <td >
        <i class="fa fa-check  p-2" aria-hidden="true" style="color: green;"></i>
       </td>
    </tr>
  
  </tbody>
</table>
